<% layout('layout') -%>
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>日志分析实时系统</h1>
    <a href="/prt" class="btn btn-primary btn-lg active" role="button">论坛函数性能分析</a>
    <a href="/mvcrt" class="btn btn-primary btn-lg active" role="button">论坛MVC性能分析</a>
</div>