<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>性能日志实时分析</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">

    <style>
        .show-grid {
            margin-bottom: 3px;
        }
        .show-grid [class^="col-"] {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        .col-md-2{
            height:145px;
        }
        .col-md-2 h6{
            height:13px;
            overflow: hidden;
        }

        .tip { position: absolute; width: 100px; height: 40px; left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}
        .jqsfield { color: white;font: 10px arial, san serif;text-align: left;}
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="/javascripts/jquery.js"></script>


</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">性能日志实时分析</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="#">概况</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">函数性能 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/prt">论坛主业务</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">页面性能 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mvcrt">论坛主业务</a></li>
                    </ul>
                </li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">stack性能 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/stack">论坛主业务</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">nginx log <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/groupIP">来源ip</a></li>
                        <li><a href="/groupUA">来源UA</a></li>
                        <li><a href="/groupReferer">来源referer</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">帮助</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="container">

   <%- body %>

</div>
<script src="http://v3.bootcss.com/dist/js/bootstrap.min.js"></script>
</body>
</html>
