<% layout('layout') -%>

<div class="btn-group-vertical" style="position: absolute; top:50; left: 3px;z-index:10000;">
    <button type="button" onclick="sort='avg';mainData(1);" class="btn btn-default">avg</button>
    <button type="button" onclick="sort='call';mainData(1);" class="btn btn-default">call</button>
    <button type="button" onclick="sort='min';mainData(1);" class="btn btn-default">min</button>
    <button type="button" onclick="sort='max';mainData(1);" class="btn btn-default">max</button>
    <button type="button" onclick="sort='key';mainData(1);" class="btn btn-default">key</button>
</div>
<div id="c" class="row show-grid">
</div>
<script>
    var sort = "call";
    function charts(keys){
        $.get("cd",{keys:keys},function(data){
            for(var k in data.l){
                var el = $("#"+ k);
                el.sparkline(data.l[k],{height:50,type: 'bar',barWidth:2.5,'barColor':'#FF6600','tooltipClassname':'tip'})
            }
        })
    }
    function mainData(clear){
        var cel = $("#c");
        if(clear==1){
            cel.html("");
        }
        var arrKey = new Array();
        $.get("md",{k:"mvcRT",s:sort},function(data){
            for(var t in data.l){
                var i = data.l[t];
                arrKey.push(i.key);
                var id =i.key.replace(" ", "");
                var icel = $('#c'+id);
                if(icel.length<=0)
                {
                    cel.append('<div id="'+'c'+id+'" class="col-md-3"></div>');
                    icel = $('#c'+id);
                    icel.html('<h6>'+ i.key+'</h6>'+
                            '<p class="text-left text-primary">最小.'+ i.min+' 最大.'+ i.max+' 平均.'+ i.avg+'调用.'+ i.call+'</p>'+
                            '<p style="height: 40px;" id="'+ id+'" class="text-left"></p>');
                }
                else{
                    $("p:first",icel).html('最小.'+ i.min+' 最大.'+ i.max+' 平均.'+ i.avg+'调用.'+ i.call);
                }
            }
            charts(arrKey.join(','));
        })

    }
    mainData()
    window.setInterval(" mainData() ",3000)
</script>
